.box {
  /*Sets the height and width of the section */
  width: 200px;
  height: 200px;
  border:2px solid black;
  margin:10px;
  padding:10px;
  text-align: center;
  text-decoration: double;
}

.box-blue {
  /* Sets font color */
  color: white;
  /* Sets background color */
  background-color: #0000ff;
}

.box-orange {
  /* Uses hex codes to define color */
  color: #0000ff;
  background-color: #ffa500;
}

#box-yellow {
  /* Uses predefined colors to define color */
  color: purple;
  background-color: yellow;
  margin: 20px;
  padding: 20px;
};

section{
  margin:5px;
  padding:5px;
}
